@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/footer";



@import "./pages/mobile";




.bloc_one{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    grid-column-gap: 131px;
    grid-row-gap: 1em;
    /*margin: 96px 0;*/
}
.bg-info{
    background-color: #f6fbfe;
    padding: 0px 180px;

}

.bloc_one img{
    padding: 60px 51px;
}
.description{
    background-color: #f6fbfe;
    width: 100%;
    height: 675px;
    font-size: 70px;
    padding: 75px 150px;
    font-family: Light;

}


.more_infos{
    background-color:rgb(0, 58, 93);;
    width: 100%;
    height: 330px;
    color: #fff;
    font-size: 32px;
    font-family: myFirstFont;
}
.more_infos p{
    padding-top: 70px;
    text-align: center;
    line-height: 1.5;
}

/************************************* Pricing ***********************************/
.multi_offre{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 75px 143px;
}
.bar-hot{
    width: 300px;
    height: 61px;
    background-color: rgb(0, 58, 93);
    position: absolute;
    padding: -6px;
    margin-top: -46px;
    margin-left: 30px;
    margin-bottom: 48px;
    z-index: -12;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    color: #fff;
    font-size: 22px;
    font-family: bolde;
    text-align: center;
    line-height: 2;
    letter-spacing: 3px;
}
.offre_one{
    background: #fff;
    height: 653px;
    width:360px;
    border-radius: 0.8rem;
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
  
  }

.shadaow{
  background: #fff;
  height: auto;
  width:360px;
  border-radius: 0.8rem;
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);

}
h1 {
    font-size: 70px;
    font-family: Light;
    
    color:rgb(0, 58, 93);


}
.tlile_pricing{
    font-size: 32px;
    color:rgb(0, 58, 93);;
    font-family: myFirstFont;
    text-align: center;
    margin: 30px auto;
}

h2{
    color:rgb(0, 58, 93);
    font-family: bolde;
    font-size: 70px;
    text-align: center;
    padding: 15px 0;
}
h2 i {
    font-size: 25px;
    font-family: bolde;
    padding-bottom: 15px;

}
.month{
    font-size: 20px;
    font-family: bolde;

}

#dollar{
    font-size: 22px;
    font-family: myFirstFont;
    color: rgb(73, 73, 73);
    text-align: center;
}
#tage{
    font-size: 21px;
    font-family: myFirstFont;
    color: rgb(73, 73, 73);
    text-align: center;
    line-height: 0px;

}




.detalis{
    font-size: 17px;
    font-family: myFirstFont;
    line-height: 1.8;
    color: rgb(73, 73, 73);
    margin: 20px;

}



 .liste {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 17px;
    font-family: myFirstFont;
    line-height: 1.8;
    color: rgb(73, 73, 73);
    margin: 20px;
}

.liste li i{
    align-items: start;
    padding: 8px 0;
    font-size: 17px;
   color: rgb(0, 58, 93);
}

.smbo{
    display: inline-block;
    position: absolute;
    
    margin-top: -24px;
    margin-left: -24px;
    width: 24px;
    height: 26px;
}