nav{
    margin-right: 150px;
    ul{
        display: flex;
        justify-content: space-between;
       /* align-items: center;*/
        
    }
}

.top-bar li{
    padding: 0 20px;
    a {
        font-family: Semibold;
        color:rgb(0, 58, 93);
        cursor: pointer;
        transition: transform .2s;
        i {
            padding-right: 19px;
        }
    }
   
}


 li .login {
    color: rgb(0, 58, 93);
    border: 2px solid rgb(0, 58, 93);
    padding: 10px 30px;
    border-radius: 50px;
}