* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  margin: auto;
  max-width: 1600px;
}

/******************** Fonts ***************************/
@font-face {
  font-family: myFirstFont;
  src: url(fonts/EuclidTriangle-Regular.otf);
}
@font-face {
  font-family: Semibold;
  src: url(fonts/EuclidTriangle-Semibold.otf);
}
@font-face {
  font-family: Light;
  src: url(fonts/EuclidTriangle-Light.otf);
}
@font-face {
  font-family: bolde;
  src: url(fonts/MyriadPro-Bold.otf);
}
.btn_select {
  border: none;
  padding: 21px;
  background-color: rgb(101, 178, 232);
  border-radius: 50px;
  color: #fff;
  width: 250px;
  font-family: Semibold;
  font-size: 23px;
  margin: 33px 43px;
  width: 273px;
}

.btn_select:hover {
  background-color: rgb(0, 58, 93);
  color: #fff;
  cursor: pointer;
}

.more_infos .btn {
  border: none;
  padding: 20px;
  background-color: rgb(101, 178, 232);
  border-radius: 50px;
  color: #fff;
  width: 250px;
  font-family: Semibold;
  font-size: 23px;
  margin-top: 2%;
  margin-left: 41%;
}

.more_infos .btn:hover {
  background-color: #fff;
  color: rgb(101, 178, 232);
  cursor: pointer;
}

.logo {
  margin-left: 49px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 65px;
}

nav {
  margin-right: 150px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  /* align-items: center;*/
}

.top-bar li {
  padding: 0 20px;
}
.top-bar li a {
  font-family: Semibold;
  color: rgb(0, 58, 93);
  cursor: pointer;
  transition: transform 0.2s;
}
.top-bar li a i {
  padding-right: 19px;
}

li .login {
  color: rgb(0, 58, 93);
  border: 2px solid rgb(0, 58, 93);
  padding: 10px 30px;
  border-radius: 50px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin: 40px 250px;
}

.title {
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: column;
  font-family: Light;
}
.title .ph1 {
  color: rgb(101, 178, 232);
  font-size: 70px;
  position: relative;
  right: 22%;
  top: 16%;
  z-index: 11;
}
.title .ph2 {
  color: rgb(0, 58, 93);
  font-size: 82px;
}

#reliability {
  margin-left: -6px;
}

.part_one {
  background-color: rgb(0, 58, 93);
  color: #fff;
  width: 100%;
  height: 490px;
  font-size: 68px;
  padding: 46px 142px;
  font-family: Light;
}

.bg-pre {
  color: rgb(101, 178, 232);
}

.part_tow {
  background-color: #f6fbfe;
  color: black;
  width: 100%;
  height: 321px;
  font-size: 22px;
  padding: 44px 80px 28px 150px;
  line-height: 1.5;
  font-family: Light;
}

.info {
  font-family: Light;
  line-height: 1.8;
  padding: 60px 0;
  margin: 25px 0;
}
.info .info h1 {
  color: rgb(0, 58, 93);
  margin: 0 0 0 422px;
  font-size: 70px;
  font-family: Light;
}

.info p {
  font-size: 20px;
}

.info_reliability {
  font-family: Light;
  line-height: 1.8;
  padding: 60px 0;
  margin: 25px 0;
}

.icon {
  padding: 99px 63px;
}

.price {
  text-align: center;
  padding: 50px 0;
}

/************************************* footer ***********************************/
.footer_infos {
  height: 300px;
  width: auto;
  background-color: rgb(0, 58, 93);
}

.content_footer {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 50px 30px;
}

.list_footer {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.logo_info img {
  padding-bottom: 20px;
}

.list_footer li a {
  color: #fff;
  font-size: 17px;
  font-family: myFirstFont;
  line-height: 2;
  opacity: 0.8;
  text-align: start;
}

.list_footer li a:hover {
  color: #fff;
  opacity: 1;
}

.logo_info p {
  color: #fff;
  font-size: 17px;
  font-family: myFirstFont;
  line-height: 2;
  opacity: 0.8;
  text-align: start;
}

hr {
  opacity: 0.5;
}

.bar-footer p {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-family: Light;
  padding: 23px 180px;
  opacity: 0.5;
  text-align: start;
}

@media screen and (max-width: 1024px) {
  .logo {
    /* margin-left: 49px; */
    /* padding: 1px 273px; */
    text-align: center;
  }

  header {
    display: block;
    /*justify-content: none;*/
    align-items: center;
    margin: 40px 65px;
  }

  .navBar {
    /*padding-left: none;*/
    /*text-align: none;*/
    padding: 47px 0 0 195px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 19px 326px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 100%;
    height: 401px;
    font-size: 37px;
    padding: 69px 139px;
    font-family: Light;
  }

  .part_tow {
    height: 394px;
  }

  .bg-color {
    grid-column-gap: 112px !important;
    margin-left: 58px !important;
    padding: 49px 0px !important;
  }

  .info {
    padding: 0px 0;
  }

  .all_blocs {
    margin: 50px;
  }

  #description {
    background-color: #f6fbfe;
    width: 100%;
    height: 392px;
    font-size: 38px;
    padding: 32px 150px;
    font-family: Light;
  }

  .bloc_one {
    padding: 0 20px;
    margin-bottom: 38px;
  }

  .icon {
    padding: 95px 15px;
  }

  .cadr {
    margin: 20px;
  }

  .fa-circle-user {
    font-size: 25px;
  }

  li .login {
    border: none;
    /*padding: none;*/
    border-radius: 50px;
  }

  .more_infos .btn {
    margin-left: 36%;
  }

  #name {
    display: none;
  }

  .bloc_one, .bg-color {
    background-color: #f6fbfe;
    padding: 50px 50px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    padding: 1px 118px;
  }

  header {
    display: block;
    /*justify-content: none;*/
    align-items: center;
    margin: 40px 65px;
  }

  .navBar {
 /*   padding-left: none;*/
   /* text-align: none;*/
    padding: 47px 0 0 11px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
   /* align-items: none;*/
    padding-left: 98px;
  }

  .all_blocs {
    margin: 30px;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 19px 148px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 100%;
    height: 401px;
    font-size: 27px;
    padding: 69px 139px;
    font-family: Light;
  }

  .part_tow {
    font-size: 17px;
    height: 394px;
  }

  .bg-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px !important;
    grid-row-gap: 1em;
    margin: 96px 0;
  }

  .bg-color {
    display: flex !important;
    flex-direction: column !important;
    grid-column-gap: 3px !important;
    grid-row-gap: 1em;
    margin-left: 150px !important;
    /*padding: 46px -16px;*/
  }

  .info {
    padding: 0px 27px;
  }

  #description {
    background-color: #f6fbfe;
    width: 100%;
    height: 392px;
    font-size: 30px;
    padding: 32px 150px;
    font-family: Light;
  }

  .bloc_one {
    padding: 0 20px;
  }

  .icon {
    padding: 0px 19px;
  }
  .icon .icon-fen {
    padding: 230px 19px;
  }

  .bloc_one, .bg-color {
    background-color: #f6fbfe;
  }

  .cadr {
    margin: 20px;
  }

  li .login {
    border: none;
   /* padding: none;*/
    border-radius: 50px;
  }

  #name {
    display: none;
  }

  .more_infos .btn {
    margin-left: 36%;
  }

  .more_infos p {
    font-size: 24px;
  }

  h1 {
    font-size: 63px;
  }
}
@media screen and (max-width: 376px) {
  .logo {
    padding: 1px 303px;
  }

  header {
    display: block;
   /* justify-content: none;*/
    align-items: center;
    margin: 40px 65px;
  }

  .navBar {
   /* padding-left: none;
    text-align: none;*/
    padding: 47px 0 0 174px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
   /* align-items: none;*/
    padding-left: 98px;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 19px 317px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 290%;
    height: 401px;
    font-size: 44px;
    padding: 69px 139px;
    font-family: Light;
  }

  .part_tow {
    font-size: 22px;
    height: 394px;
    width: 292%;
  }

  .bg-color {
    margin: 10px 20px;
  }

  .bg-color {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 47px !important;
    grid-row-gap: 1em;
    margin-left: 255px;
    padding: 46px 64px !important;
  }

  .bg-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 1em;
  }

  .cadrs {
    background-color: #fff;
  }

  .reliability {
    margin-left: -45px !important;
  }

  .info {
    padding: 0px 0px;
  }

  .all_blocs {
    margin: 20px 147px;
  }

  #description {
    background-color: #f6fbfe;
    width: 292%;
    height: 392px;
    font-size: 38px;
    padding: 32px 150px;
    font-family: Light;
  }

  .cadrs {
    display: none;
  }

  .icon {
    padding: 52px 131px;
  }

  .cadr {
    margin: 20px;
  }

  li .login {
    border: none;
   /* padding: none;*/
    border-radius: 50px;
  }

  #name {
    display: none;
  }

  .more_infos .btn {
    margin-left: 40%;
    margin-top: 5%;
  }

  #mifs {
    width: 292%;
  }

  .more_infos p {
    font-size: 24px;
  }

  .price {
    /* text-align: center; */
    padding: 50px 446px;
  }

  #multi_offre {
    margin: 21px 565px;
  }

  .footer_infos {
    width: 292%;
  }

  .bg-color {
    margin-left: 140px !important;
  }

  .cadrs {
    background-color: transparent !important;
  }

  /* .cadrs{
       margin-left: -341px;
   }*/
  #icon_1 {
    margin-left: 37px;
  }
}
.bg-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 131px;
  grid-row-gap: 1em;
  /*margin: 96px 0;*/
}

.bg-color {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 328px;
  grid-row-gap: 1em;
  margin-left: 255px;
}

.reli {
  padding: 156px 0 0 0;
}

.cadrs {
  background-color: #f6fbfe;
}

/*.bg-info{

    padding: 0px 180px;

}*/
.bloc_one img {
  padding: 60px 51px;
}

.description {
  background-color: #f6fbfe;
  width: 100%;
  height: 600px;
  font-size: 70px;
  padding: 75px 150px;
  font-family: Light;
}

.more_infos {
  background-color: rgb(0, 58, 93);
  width: 100%;
  height: 330px;
  color: #fff;
  font-size: 32px;
  font-family: myFirstFont;
}

.more_infos p {
  padding-top: 70px;
  text-align: center;
  line-height: 1.5;
}

/************************************* Pricing ***********************************/
.multi_offre {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 75px 143px;
}

.bar-hot {
  width: 300px;
  height: 61px;
  background-color: rgb(0, 58, 93);
  position: absolute;
  /*padding: -6px;*/
  margin-top: -46px;
  margin-left: 30px;
  margin-bottom: 48px;
  z-index: -12;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  color: #fff;
  font-size: 22px;
  font-family: bolde;
  text-align: center;
  line-height: 2;
  letter-spacing: 3px;
  
}

.offre_one {
  background: #fff;
  height: 653px;
  width: 360px;
  border-radius: 0.8rem;
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.shadaow {
  background: #fff;
  height: auto;
  width: 360px;
  border-radius: 0.8rem;
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 70px;
  font-family: Light;
  color: rgb(0, 58, 93);
}

.tlile_pricing {
  font-size: 32px;
  color: rgb(0, 58, 93);
  font-family: myFirstFont;
  text-align: center;
  margin: 30px auto;
}

h2 {
  color: rgb(0, 58, 93);
  font-family: bolde;
  font-size: 70px;
  text-align: center;
  padding: 15px 0;
}

h2 i {
  font-size: 25px;
  font-family: bolde;
  padding-bottom: 15px;
}

.month {
  font-size: 20px;
  font-family: bolde;
}

.dollar {
  font-size: 22px;
  font-family: myFirstFont;
  color: rgb(73, 73, 73);
  text-align: center;
}

#tage {
  font-size: 21px;
  font-family: myFirstFont;
  color: rgb(73, 73, 73);
  text-align: center;
  line-height: 0px;
}

.detalis {
  font-size: 17px;
  font-family: myFirstFont;
  line-height: 1.8;
  color: rgb(73, 73, 73);
  margin: 20px;
}

.liste {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 17px;
  font-family: myFirstFont;
  line-height: 1.8;
  color: rgb(73, 73, 73);
  margin: 20px;
}

.liste li i {
  align-items: start;
  padding: 8px 0;
  font-size: 17px;
  color: rgb(0, 58, 93);
}

.smbo {
  display: inline-block;
  position: absolute;
  margin-top: -24px;
  margin-left: -24px;
  width: 24px;
  height: 26px;
}

/*# sourceMappingURL=style.css.map */
