* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  margin: auto;
  max-width: 2500px;
}

/******************** Fonts ***************************/
@font-face {
  font-family: myFirstFont;
  src: url(fonts/EuclidTriangle-Regular.otf);
}
@font-face {
  font-family: Semibold;
  src: url(fonts/EuclidTriangle-Semibold.otf);
}
@font-face {
  font-family: Light;
  src: url(fonts/EuclidTriangle-Light.otf);
}
@font-face {
  font-family: bolde;
  src: url(fonts/MyriadPro-Bold.otf);
}
.btn_select {
  border: none;
  padding: 21px;
  background-color: rgb(101, 178, 232);
  border-radius: 50px;
  color: #fff;
  width: 250px;
  font-family: Semibold;
  font-size: 23px;
  margin: 33px 43px;
  width: 273px;
}

.btn_select:hover {
  background-color: rgb(0, 58, 93);
  color: #fff;
  cursor: pointer;
}

.more_infos .btn {
  border: none;
  padding: 20px;
  background-color: rgb(101, 178, 232);
  border-radius: 50px;
  color: #fff;
  width: 250px;
  font-family: Semibold;
  font-size: 23px;
  margin-top: 2%;
  margin-left: 41%;
}

.more_infos .btn:hover {
  background-color: #fff;
  color: rgb(101, 178, 232);
  cursor: pointer;
}

.logo {
  margin-left: 49px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 44px 0px 37px 93px;
}

nav {
  margin-right: 150px;
}
nav ul {
  display: flex;
  justify-content: space-between;
}

.top-bar li {
  padding: 0 20px;
}
.top-bar li a {
  font-family: Semibold;
  color: rgb(0, 58, 93);
  cursor: pointer;
}
.top-bar li a i {
  padding-right: 19px;
}

.top-bar li a:hover {
  padding: 0 20px;
  background-color: rgb(0, 58, 93);
  color: white;
  border: 2px solid rgb(0, 58, 93);
  padding: 10px 30px;
  border-radius: 50px;
}

li .login {
  color: rgb(0, 58, 93);
  border: 2px solid rgb(0, 58, 93);
  padding: 10px 30px;
  border-radius: 50px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin: 51px 192px;
}

.title {
  /*  width: 80%;*/
  height: 250px;
  display: flex;
  flex-direction: column;
  font-family: Light;
  margin-left: 55px;
}
.title .ph1 {
  color: rgb(101, 178, 232);
  font-size: 70px;
  position: relative;
  right: 22%;
  top: 16%;
  z-index: 11;
}
.title .ph2 {
  color: rgb(0, 58, 93);
  font-size: 82px;
}

#reliability {
  margin-left: -6px;
}

.part_one {
  background-color: rgb(0, 58, 93);
  color: #fff;
  width: 100%;
  height: 479px;
  font-size: 68px;
  padding: 54px 142px;
  font-family: Light;
}

.bg-pre {
  color: rgb(101, 178, 232);
}

.part_tow {
  background-color: #f6fbfe;
  color: black;
  width: 100%;
  height: 321px;
  font-size: 22px;
  padding: 65px 80px 28px 150px;
  line-height: 1.5;
  font-family: Light;
}

.info {
  font-family: Light;
  line-height: 1.8;
  padding: 60px 0;
  margin: 25px 0;
}
.info .info h1 {
  color: rgb(0, 58, 93);
  margin: 0 0 0 422px;
  font-size: 70px;
  font-family: Light;
}

.info p {
  font-size: 20px;
}

.info_reliability {
  font-family: Light;
  line-height: 1.8;
  padding: 60px 0;
  margin: 25px 0;
}

.icon {
  padding: 99px 63px;
}

.price {
  text-align: center;
  padding: 50px 0;
}

/************************************* footer ***********************************/
.footer_infos {
  height: 300px;
  width: auto;
  background-color: rgb(0, 58, 93);
}

.content_footer {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 50px 30px;
}

.list_footer {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.logo_info img {
  padding-bottom: 20px;
}

.list_footer li a {
  color: #fff;
  font-size: 17px;
  font-family: myFirstFont;
  line-height: 2;
  opacity: 0.8;
  text-align: start;
}

.list_footer li a:hover {
  color: #fff;
  opacity: 1;
}

.logo_info p {
  color: #fff;
  font-size: 17px;
  font-family: myFirstFont;
  line-height: 2;
  opacity: 0.8;
  text-align: start;
}

hr {
  opacity: 0.5;
}

.bar-footer p {
  color: #fff;
  font-size: 12px;
  font-family: Light;
  opacity: 0.5;
  padding: 27px 189px;
}

@media (min-width: 950px) and (max-width: 1430px) {
  .logo {
    /* margin-left: 49px; */
    /* padding: 1px 273px; */
    text-align: center;
  }

  header {
    display: block;
    justify-content: none;
    align-items: center;
    margin: 40px 65px;
  }

  .navBar {
    padding-left: none;
    text-align: none;
    padding: 47px 0 0 195px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bg-info {
    grid-column-gap: 121px !important;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 19px 326px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 100%;
    height: 401px;
    font-size: 40px;
    padding: 69px 139px;
    font-family: Light;
  }

  .part_tow {
    height: 394px;
  }

  .reli {
    padding: 0px 0 0 105px !important;
  }

  .cadrs {
    width: 100%;
    background-color: #f6fbfe;
  }

  .info {
    padding: 0px 0;
  }

  .info p {
    font-size: 15px;
  }

  /*.all_blocs {
      margin: 50px;
  }*/
  #description {
    background-color: #f6fbfe;
    width: 100%;
    height: 392px;
    font-size: 38px;
    padding: 32px 150px;
    font-family: Light;
  }

  .bloc_one {
    padding: 0 20px;
    margin-bottom: 38px;
  }

  .icon {
    padding: 95px 15px;
  }

  .cadr {
    margin: 20px;
  }

  .fa-circle-user {
    font-size: 25px;
  }

  li .login {
    border: none;
    padding: none;
    border-radius: 50px;
  }

  .more_infos .btn {
    margin-left: 36%;
  }

  #name {
    display: none;
  }

  .bloc_one, .bg-color {
    background-color: #f6fbfe;
    padding: 50px 50px;
  }

  .bar-footer p {
    width: none !important;
  }
}
@media (min-width: 804px) and (max-width: 950px) {
  .logo {
    /* margin-left: 49px; */
    /* padding: 1px 273px; */
    text-align: center;
  }

  header {
    display: block;
    justify-content: none;
    align-items: center;
    margin: 40px 65px;
  }

  .navBar {
    padding-left: none;
    text-align: none;
    padding: 47px 0 0 195px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bg-info {
    grid-column-gap: 64px !important;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 19px 326px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 100%;
    height: 284px;
    font-size: 30px;
    padding: 69px 139px;
    font-family: Light;
  }

  .part_tow {
    height: 244px;
    font-size: 12px;
  }

  .reli {
    padding: 0px 0 0 105px !important;
  }

  .cadrs {
    width: 100vmax;
    background-color: #f6fbfe;
  }

  .info {
    padding: 0px 0;
  }

  .info p {
    font-size: 12px;
  }

  /*.all_blocs {
      margin: 50px;
  }*/
  #description {
    background-color: #f6fbfe;
    width: 100%;
    height: 294px;
    font-size: 30px;
    padding: 32px 150px;
    font-family: Light;
  }

  .bloc_one {
    padding: 0 20px;
    margin-bottom: 38px;
  }

  .icon {
    padding: 45px 20px 54px 129px;
    width: 326px;
    height: auto;
  }

  .reli {
    padding: 85px 0 0 320px;
    width: 326px;
    height: auto;
  }

  .cadr {
    margin: 20px;
  }

  .fa-circle-user {
    font-size: 25px;
  }

  li .login {
    border: none;
    padding: none;
    border-radius: 50px;
  }

  .more_infos .btn {
    margin-left: 36%;
  }

  .more_infos p {
    font-size: 25px;
  }

  .more_infos {
    height: 299px;
  }

  #name {
    display: none;
  }

  .bloc_one, .bg-color {
    background-color: #f6fbfe;
    padding: 50px 50px;
  }

  .bar-footer p {
    width: none !important;
  }

  .title {
    margin-left: 5px !important;
  }

  .image_slider {
    margin-left: -59px !important;
  }

  h1 {
    font-size: 50px !important;
  }
}
@media (min-width: 605px) and (max-width: 804px) {
  .logo {
    /* margin-left: 49px; */
    /* padding: 1px 273px; */
    text-align: center;
  }

  header {
    display: block;
    justify-content: none;
    align-items: center;
    margin: 40px 65px;
  }

  .navBar {
    padding-left: none;
    text-align: none;
    padding: 47px 0 0 195px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bg-info {
    grid-column-gap: 0px !important;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 16px 186px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 105%;
    height: 284px;
    font-size: 27px;
    padding: 69px 139px;
    font-family: Light;
  }

  .part_tow {
    width: 105%;
    height: 244px;
    font-size: 12px;
  }

  .cadrs {
    width: 105% !important;
    background-color: #f6fbfe;
  }

  .info {
    padding: 0px 0;
  }

  .info p {
    font-size: 12px;
  }

  /*.all_blocs {
      margin: 50px;
  }*/
  #description {
    background-color: #f6fbfe;
    width: 105%;
    height: 270px;
    font-size: 27px;
    padding: 32px 150px;
    font-family: Light;
  }

  .bloc_one {
    padding: 0 20px;
    margin-bottom: 38px;
  }

  .icon {
    padding: 45px 20px 54px 129px;
    width: 326px;
    height: auto;
  }

  .reli {
    padding: 38px 0 0 50px !important;
    width: 255px;
    height: auto;
  }

  .cadr {
    margin: 20px;
  }

  .fa-circle-user {
    font-size: 25px;
  }

  li .login {
    border: none;
    padding: none;
    border-radius: 50px;
  }

  .more_infos .btn {
    margin-left: 36%;
  }

  .more_infos p {
    font-size: 25px;
  }

  .more_infos {
    height: 280px;
    width: 105% !important;
  }

  #name {
    display: none;
  }

  .bloc_one, .bg-color {
    background-color: #f6fbfe;
    padding: 50px 50px;
  }

  .bar-footer p {
    width: none !important;
  }

  .title {
    margin-left: 5px !important;
  }

  .image_slider {
    margin-left: -59px !important;
  }

  h1 {
    font-size: 50px !important;
  }

  .footer_infos {
    width: 105%;
  }
}
@media (min-width: 570px) and (max-width: 664px) {
  .logo {
    /* margin-left: 49px; */
    /* padding: 1px 273px; */
    text-align: center;
  }

  header {
    display: block;
    justify-content: none;
    align-items: center;
    margin: 25px -40px;
  }

  .navBar {
    padding-left: none;
    text-align: none;
    padding: 47px 0 0 195px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bg-info {
    grid-column-gap: 0px !important;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 16px 141px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 115%;
    height: 200px;
    font-size: 20px;
    padding: 47px 139px;
    font-family: Light;
  }

  .part_tow {
    width: 115%;
    height: 230px;
    font-size: 10px;
  }

  .cadrs {
    width: 105% !important;
    background-color: #f6fbfe;
  }

  .bg-info {
    margin: 0 42px;
  }

  .info {
    padding: 0px 0;
  }

  .info p {
    font-size: 12px;
  }

  .price {
    padding: 30px 261px !important;
  }

  #description {
    background-color: #f6fbfe;
    width: 115% !important;
    height: 236px;
    font-size: 22px;
    padding: 32px 150px;
    font-family: Light;
  }

  .bloc_one {
    padding: 0 20px;
    margin-bottom: 38px;
  }

  .icon {
    padding: 93px 20px 54px 99px;
    width: 326px;
    height: auto;
  }

  .reli {
    padding: 38px 0 0 50px !important;
    width: 88% !important;
    height: auto;
  }

  .cadr {
    margin: 20px;
  }

  .fa-circle-user {
    font-size: 25px;
  }

  li .login {
    border: none;
    padding: none;
    border-radius: 50px;
  }

  .more_infos .btn {
    margin: 7% 32%;
  }

  .more_infos p {
    font-size: 25px;
  }

  .more_infos {
    height: 280px;
    width: 115% !important;
  }

  #name {
    display: none;
  }

  .bloc_one, .bg-color {
    background-color: #f6fbfe;
    padding: 50px 50px;
  }

  .bar-footer p {
    width: none !important;
  }

  .title {
    margin-left: 5px !important;
  }

  .image_slider {
    margin-left: -59px !important;
  }

  h1 {
    font-size: 50px !important;
  }

  .footer_infos {
    width: 115%;
  }

  .multi_offre {
    margin: 75px 348px !important;
  }
}
@media (min-width: 250px) and (max-width: 570px) {
  .logo {
    /* margin-left: 49px; */
    padding: 0px 199px;
    text-align: center;
  }

  header {
    display: block;
    justify-content: none;
    align-items: center;
    margin: 57px 34px;
  }

  .navBar {
    padding-left: none;
    text-align: none;
    padding: 47px 0 0 195px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bg-info {
    grid-column-gap: 0px !important;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 16px 201px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 186%;
    height: 286px;
    font-size: 34px;
    padding: 47px 139px;
    font-family: Light;
  }

  .part_tow {
    width: 186%;
    height: 286px;
    font-size: 14px;
  }

  .cadrs {
    width: 186% !important;
    background-color: #f6fbfe;
  }

  .bg-info {
    margin: 0 !important;
  }

  .cards_6 {
    margin: 0 124px !important;
  }

  .info {
    padding: 0px 0;
  }

  .info p {
    font-size: 12px;
  }

  .price {
    padding: 30px 362px !important;
  }

  #description {
    background-color: #f6fbfe;
    width: 186% !important;
    height: 344px;
    font-size: 34px;
    padding: 32px 150px;
    font-family: Light;
  }

  .bloc_one {
    padding: 0 20px;
    margin-bottom: 38px;
  }

  .icon {
    padding: 93px 20px 54px 99px;
    width: 326px;
    height: auto;
  }

  .reli {
    padding: 38px 0 0 50px !important;
    width: 88% !important;
    height: auto;
  }

  .cadr {
    margin: 20px;
  }

  .fa-circle-user {
    font-size: 25px;
  }

  li .login {
    border: none;
    padding: none;
    border-radius: 50px;
  }

  .more_infos .btn {
    margin: 7% 37%;
  }

  .more_infos p {
    font-size: 25px;
  }

  .more_infos {
    height: 280px;
    width: 186% !important;
  }

  #name {
    display: none;
  }

  .bloc_one, .bg-color {
    background-color: #f6fbfe;
    padding: 50px 50px;
  }

  .bar-footer p {
    width: none !important;
  }

  .title {
    margin-left: 5px !important;
  }

  .image_slider {
    margin-left: -59px !important;
  }

  h1 {
    font-size: 50px !important;
  }

  .footer_infos {
    width: 186% !important;
  }

  .multi_offre {
    margin: 75px 441px !important;
  }
}
@media (min-width: 250px) and (max-width: 446px) {
  .logo {
    /* margin-left: 49px; */
    padding: 0px 199px;
    text-align: center;
  }

  header {
    display: block;
    justify-content: none;
    align-items: center;
    margin: 58px 192px;
  }

  .navBar {
    padding-left: none;
    text-align: none;
    padding: 47px 0 0 195px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bg-info {
    grid-column-gap: 0px !important;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 16px 356px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 257%;
    height: 286px;
    font-size: 35px;
    padding: 47px 139px;
    font-family: Light;
  }

  .part_tow {
    width: 257%;
    height: 286px;
    font-size: 18px;
  }

  .cadrs {
    width: 257% !important;
    background-color: #f6fbfe;
  }

  .bg-info {
    margin: 0 !important;
  }

  .cards_6 {
    margin: 0 251px !important;
  }

  .info {
    padding: 0px 0;
  }

  .info p {
    font-size: 18px;
  }

  .price {
    padding: 40px 497px !important;
  }

  #description {
    background-color: #f6fbfe;
    width: 257% !important;
    height: 344px;
    font-size: 37px;
    padding: 32px 150px;
    font-family: Light;
  }

  .bloc_one {
    padding: 0 20px;
    margin-bottom: 38px;
  }

  .icon {
    padding: 93px 20px 54px 167px;
    width: 497px;
    height: auto;
  }

  .reli {
    padding: 38px 0 0 50px !important;
    width: 88% !important;
    height: auto;
  }

  .cadr {
    margin: 20px;
  }

  .fa-circle-user {
    font-size: 25px;
  }

  li .login {
    border: none;
    padding: none;
    border-radius: 50px;
  }

  .more_infos .btn {
    margin: 3% 38%;
  }

  .more_infos p {
    font-size: 30px;
  }

  .more_infos {
    height: 280px;
    width: 257% !important;
  }

  #name {
    display: none;
  }

  .bloc_one, .bg-color {
    background-color: #f6fbfe;
    padding: 50px 50px;
  }

  .bar-footer p {
    width: none !important;
  }

  .title {
    margin-left: 5px !important;
  }

  .image_slider {
    margin-left: -59px !important;
  }

  h1 {
    font-size: 50px !important;
  }

  .footer_infos {
    width: 257% !important;
  }

  .multi_offre {
    margin: 74px 578px !important;
  }
}
@media (min-width: 270px) and (max-width: 385px) {
  .logo {
    /* margin-left: 49px; */
    padding: 0px 199px;
    text-align: center;
  }

  header {
    display: block;
    justify-content: none;
    align-items: center;
    margin: 57px 253px;
  }

  .navBar {
    padding-left: none;
    text-align: none;
    padding: 47px 0 0 195px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bg-info {
    grid-column-gap: 125px !important;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 16px 427px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 400%;
    height: 363px;
    font-size: 45px;
    padding: 47px 139px;
    font-family: Light;
  }

  .part_tow {
    width: 400%;
    height: 336px;
    font-size: 22px;
  }

  .cadrs {
    width: 400% !important;
    background-color: #f6fbfe;
  }

  .bg-info {
    margin: 0 !important;
  }

  .cards_6 {
    margin: 0 342px !important;
  }

  .info {
    padding: 0px 0;
  }

  .info p {
    font-size: 12px;
  }

  .price {
    padding: 40px 575px !important;
  }

  #description {
    background-color: #f6fbfe;
    width: 400% !important;
    height: 344px;
    font-size: 38px;
    padding: 32px 150px;
    font-family: Light;
  }

  .bloc_one {
    padding: 0 20px;
    margin-bottom: 38px;
  }

  .icon {
    padding: 93px 20px 54px 99px;
    width: 326px;
    height: auto;
  }

  .reli {
    padding: 27px 0px 1px 271px !important;
    width: 516px !important;
    height: auto;
  }

  .cadr {
    margin: 20px;
  }

  .fa-circle-user {
    font-size: 25px;
  }

  li .login {
    border: none;
    padding: none;
    border-radius: 50px;
  }

  .more_infos .btn {
    margin: 2% 40%;
  }

  .more_infos p {
    font-size: 38px;
  }

  .more_infos {
    height: 280px;
    width: 400% !important;
  }

  #name {
    display: none;
  }

  .bloc_one, .bg-color {
    background-color: #f6fbfe;
    padding: 50px 50px;
  }

  .bar-footer p {
    width: none !important;
  }

  .title {
    margin-left: 5px !important;
  }

  .image_slider {
    margin-left: -59px !important;
  }

  h1 {
    font-size: 50px !important;
  }

  .footer_infos {
    width: 457% !important;
  }

  .multi_offre {
    margin: 74px 668px !important;
  }

  .footer_infos {
    width: 400% !important;
    height: 597px;
  }

  .bar-footer p {
    padding: 27px 257px;
  }

  .content_footer {
    display: block;
    padding: 50px 251px;
  }
}
@media (min-width: 150px) and (max-width: 270px) {
  .logo {
    /* margin-left: 49px; */
    padding: 0px 199px;
    text-align: center;
  }

  header {
    display: block;
    justify-content: none;
    align-items: center;
    margin: 57px 175px;
  }

  .navBar {
    padding-left: none;
    text-align: none;
    padding: 47px 0 0 195px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bg-info {
    grid-column-gap: c !important;
  }

  .top-bar li a i {
    padding-right: 19px;
  }

  .slider {
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 16px 338px;
  }

  .part_one {
    background-color: rgb(0, 58, 93);
    color: #fff;
    width: 400%;
    height: 286px;
    font-size: 37px;
    padding: 47px 139px;
    font-family: Light;
  }

  .part_tow {
    width: 400%;
    height: 286px;
    font-size: 19px;
  }

  .cadrs {
    width: 400% !important;
    background-color: #f6fbfe;
  }

  .bg-info {
    margin: 0 !important;
  }

  .cards_6 {
    margin: 0 254px !important;
  }

  .info {
    padding: 0px 0;
  }

  .info p {
    font-size: 12px;
  }

  .price {
    padding: 40px 453px !important;
  }

  #description {
    background-color: #f6fbfe;
    width: 400% !important;
    height: 344px;
    font-size: 34px;
    padding: 32px 150px;
    font-family: Light;
  }

  .bloc_one {
    padding: 0 20px;
    margin-bottom: 38px;
  }

  .icon {
    padding: 93px 20px 54px 99px;
    width: 326px;
    height: auto;
  }

  .reli {
    padding: 34px 0px 0px 226px !important;
    width: 443px !important;
    height: auto;
  }

  .cadr {
    margin: 20px;
  }

  .fa-circle-user {
    font-size: 25px;
  }

  li .login {
    border: none;
    padding: none;
    border-radius: 50px;
  }

  .more_infos .btn {
    margin: 7% 38%;
  }

  .more_infos p {
    font-size: 28px;
  }

  .more_infos {
    height: 280px;
    width: 400% !important;
  }

  #name {
    display: none;
  }

  .bloc_one, .bg-color {
    background-color: #f6fbfe;
    padding: 50px 50px;
  }

  .bar-footer p {
    width: none !important;
  }

  .title {
    margin-left: 5px !important;
  }

  .image_slider {
    margin-left: -59px !important;
  }

  h1 {
    font-size: 50px !important;
  }

  .footer_infos {
    width: 457% !important;
  }

  .multi_offre {
    margin: 74px 533px !important;
  }

  .footer_infos {
    width: 400% !important;
    height: 597px;
  }

  .bar-footer p {
    padding: 27px 257px;
  }

  .content_footer {
    display: block;
    padding: 50px 251px;
  }
}
.bg-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 183px;
  grid-row-gap: 1em;
  /*margin: 96px 0;*/
}

.reli {
  padding: 85px 0 0 320px;
}

.cadrs {
  background-color: #f6fbfe;
  padding: 26px;
}

/*.bg-info{

    padding: 0px 180px;

}*/
.bloc_one img {
  padding: 60px 51px;
}

.description {
  background-color: #f6fbfe;
  width: 100%;
  height: 498px;
  font-size: 54px;
  padding: 75px 150px;
  font-family: Light;
}

.more_infos {
  background-color: rgb(0, 58, 93);
  width: 100%;
  height: 330px;
  color: #fff;
  font-size: 32px;
  font-family: myFirstFont;
}

.more_infos p {
  padding-top: 70px;
  text-align: center;
  line-height: 1.5;
}

/************************************* Pricing ***********************************/
.multi_offre {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 75px 143px;
}

.bar-hot {
  width: 300px;
  height: 61px;
  background-color: rgb(0, 58, 93);
  position: absolute;
  padding: -6px;
  margin-top: -46px;
  margin-left: 30px;
  margin-bottom: 48px;
  z-index: -12;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  color: #fff;
  font-size: 22px;
  font-family: bolde;
  text-align: center;
  line-height: 2;
  letter-spacing: 3px;
}

.offre_one {
  background: #fff;
  height: 653px;
  width: 360px;
  border-radius: 0.8rem;
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.shadaow {
  background: #fff;
  height: auto;
  width: 360px;
  border-radius: 0.8rem;
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 70px;
  font-family: Light;
  color: rgb(0, 58, 93);
}

.tlile_pricing {
  font-size: 32px;
  color: rgb(0, 58, 93);
  font-family: myFirstFont;
  text-align: center;
  margin: 30px auto;
}

h2 {
  color: rgb(0, 58, 93);
  font-family: bolde;
  font-size: 70px;
  text-align: center;
  padding: 15px 0;
}

h2 i {
  font-size: 25px;
  font-family: bolde;
  padding-bottom: 15px;
}

.month {
  font-size: 20px;
  font-family: bolde;
}

.dollar {
  font-size: 22px;
  font-family: myFirstFont;
  color: rgb(73, 73, 73);
  text-align: center;
}

#tage {
  font-size: 21px;
  font-family: myFirstFont;
  color: rgb(73, 73, 73);
  text-align: center;
  line-height: 0px;
}

.detalis {
  font-size: 17px;
  font-family: myFirstFont;
  line-height: 1.8;
  color: rgb(73, 73, 73);
  margin: 20px;
}

.liste {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 17px;
  font-family: myFirstFont;
  line-height: 1.8;
  color: rgb(73, 73, 73);
  margin: 20px;
}

.liste li i {
  align-items: start;
  padding: 8px 0;
  font-size: 17px;
  color: rgb(0, 58, 93);
}

.smbo {
  display: inline-block;
  position: absolute;
  margin-top: -24px;
  margin-left: -24px;
  width: 24px;
  height: 26px;
}

/*# sourceMappingURL=style.css.map */
