
@media (min-width: 605px) and (max-width: 804px){
    .logo {
        /* margin-left: 49px; */
        /* padding: 1px 273px; */
        text-align: center;
    }
    header {
        display: block;
        justify-content: none;
        align-items: center;
        margin: 40px 65px;
    }
    .navBar {
         padding-left: none; 
         text-align: none; 
        padding: 47px 0 0 195px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    



    .bg-info{
   
        grid-column-gap: 0px  !important;
      
    }

    .top-bar li a i {
       padding-right: 19px; 
    }
    .slider {
        display: block;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        margin: 16px 186px;
    }
    .part_one {
        background-color: rgb(0, 58, 93);
        color: #fff;
        width: 105%;
        height: 284px;
        font-size: 27px;
        padding: 69px 139px;
        font-family: Light;
    }

    .part_tow {
        width: 105%;
        height: 244px;
        font-size: 12px;
      
    }
    
 
    .cadrs {
        width: 105% !important;
        background-color: #f6fbfe;
    }
    
    
    .info {
    
        padding: 0px 0;
    }
   
    .info p {
        font-size: 12px;
    }
    /*.all_blocs {
        margin: 50px;
    }*/
    #description {
          background-color: #f6fbfe;
             width: 105%;
            height: 270px;
            font-size: 27px;
            padding: 32px 150px;
            font-family: Light;
    }
    
    .bloc_one {
        padding: 0 20px;
        margin-bottom: 38px;
    }

    .icon {
        padding: 45px 20px 54px 129px;
        width: 326px;
        height: auto;    }
    

   .reli {
    padding: 38px 0 0 50px !important;
    width: 255px;
    height: auto;
        }
    .cadr{
        margin: 20px;
    }

    .fa-circle-user{
        font-size: 25px;
    }

    li .login {
        border: none;
        padding:none;
        border-radius: 50px;
    }


    .more_infos .btn {
        margin-left: 36%;
    }

    .more_infos p {
    font-size: 25px;
    }


    .more_infos {
     
        height: 280px;
        width: 105% !important;
        
    }
    #name{
        display: none;
     }

     .bloc_one,.bg-color{
    
        background-color: #f6fbfe;
        padding: 50px 50px;
    }

    .bar-footer p {
      
      width: none !important; 
    }

    .title {
      
        margin-left: 5px !important;
    }

    .image_slider{
        margin-left: -59px !important;
    }
    
    h1{
        font-size: 50px !important;
    }

    .footer_infos {
        width: 105%;
     
    }
}