@media screen and (max-width:376px){

    .logo {
       
      padding: 1px 303px;
    
    }

    header {
        display: block;
        justify-content: none;
        align-items: center;
        margin: 40px 65px;
    }
    .navBar {
         padding-left: none; 
         text-align: none; 
        padding: 47px 0 0 174px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: none;
        padding-left: 98px;
    }
    


    .top-bar li a i {
       padding-right: 19px; 
    }
    .slider {
        display: block;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        margin: 19px 317px;
    }
    .part_one {
        background-color: rgb(0, 58, 93);
        color: #fff;
        width: 290%;
        height: 401px;
        font-size: 44px;
        padding: 69px 139px;
        font-family: Light;
    }

    .part_tow {
       
        font-size: 22px;
        height: 394px;
        width: 292%;
      
    }

   
    .bg-color{
        margin: 10px 20px;
    }

    .bg-color {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 47px !important;
        grid-row-gap: 1em;
        margin-left: 255px;
        padding: 46px 64px !important;
    }

    .bg-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 1em;
   
}

.cadrs{
    background-color: #fff;
}
.reliability{
    
    margin-left: -45px !important;
   
}




    .info {
        padding: 0px 0px;
    }
   
    .all_blocs {
        margin: 20px 147px;
    }
    #description {
            background-color: #f6fbfe;
            width: 292%;
            height: 392px;
            font-size: 38px;
            padding: 32px 150px;
            font-family: Light;
    }
    
    .cadrs {
       display: none;
    }
    
    
    .icon {
        padding: 52px 131px;
    }
    
    
    .cadr{
        margin: 20px;
    }

    li .login {
        border: none;
        padding: none;
        border-radius: 50px;
    }
    #name{
        display: none;
    }

    .more_infos .btn {
        margin-left: 40%;
        margin-top: 5%;
    }

    #mifs {
        width: 292%;

    }
    .more_infos p {
        font-size: 24px;
    }

    .price {
        /* text-align: center; */
        padding: 50px 446px;
    }
    #multi_offre {
      
        margin: 21px 565px;
    }
   
    .footer_infos {
    
        width: 292%;
       
    }
    .bg-color{
    
        margin-left: 140px !important;
        
    }

    .cadrs{
        background-color: transparent !important;
    }
   /* .cadrs{
        margin-left: -341px;
    }*/

    #icon_1{
        margin-left: 37px;
    }
    
}