
@media (min-width: 250px) and (max-width:570px){
    .logo {
        /* margin-left: 49px; */
        padding: 0px 199px; 
        text-align: center;
    }
    header {
        display: block;
        justify-content: none;
        align-items: center;
        margin: 57px 34px
    }
    .navBar {
         padding-left: none; 
         text-align: none; 
        padding: 47px 0 0 195px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    



    .bg-info{
   
        grid-column-gap: 0px  !important;
      
    }

    .top-bar li a i {
       padding-right: 1px; 
    }
    .slider {
        display: block;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        margin: 16px 201px;
    }
    .part_one {
        background-color: rgb(0, 58, 93);
        color: #fff;
        width: 186%;
        height: 286px;
        font-size: 34px;
        padding: 47px 139px;
        font-family: Light;
    
    }

    .part_tow {
        width: 186%;
        height: 286px;
        font-size: 14px;
      
    }
    
 
    .cadrs {
        width: 186% !important;
        background-color: #f6fbfe;
    }
    .bg-info {
       
        margin: 0 !important;
    }
    .cards_6{
        margin: 0 124px   !important;
    }
    .info {
    
        padding: 0px 0;
    }
   
    .info p {
        font-size: 12px;
    }
    .price {
        padding: 30px 362px  !important;
    }
    #description {
          background-color: #f6fbfe;
             width: 186% !important;
             height: 344px;
             font-size: 34px;
            padding: 32px 150px;
            font-family: Light;
    }
    
    .bloc_one {
        padding: 0 20px;
        margin-bottom: 38px;
    }

    .icon {
        padding: 93px 20px 54px 99px;
        width: 326px;
        height: auto;    }
    

   .reli {
    padding: 38px 0 0 50px !important;
    width: 88% !important;
    height: auto;
        }
    .cadr{
        margin: 20px;
    }

    .fa-circle-user{
        font-size: 25px;
    }

    li .login {
        border: none;
        padding:none;
        border-radius: 50px;
    }


    .more_infos .btn {
        margin: 2% 37%;
        }

    .more_infos p {
    font-size: 25px;
    }


    .more_infos {
     
        height: 280px;
        width: 186% !important;
        
    }
    #name{
        display: none;
     }

     .bloc_one,.bg-color{
    
        background-color: #f6fbfe;
        padding: 50px 50px;
    }

    .bar-footer p {
      
      width: none !important; 
    }

    .title {
      
        margin-left: 5px !important;
    }

    .image_slider{
        margin-left: -59px !important;
    }
    
    h1{
        font-size: 50px !important;
    }

    .footer_infos {
        width: 186% !important;
     
    }

    .multi_offre {
       
        margin: 75px 441px !important;
    }
}